<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categorias" method="post">
        <p>categorias</p>

        <label for="ctgsubcateg">Subcategoria</label>
        <input type="text" name="ctgsubcateg" id="ctgsubcateg">
        <label for="ctgnome">Nome</label>
        <input type="text" name="ctgnome" id="ctgnome">

        <input type="submit" name="enviar" id="enviar" value="Enviar">
    </form>
    <button onclick="window.location.href = '/'">Voltar</button>
</body>
</html>