<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/estados" method="post">
        <p>estados</p>

        <label for="stdcodigo">Código</label>
        <input type="text" name="stdcodigo" id="stdcodigo">
        <label for="stdnome">Nome</label>
        <input type="text" name="stdnome" id="stdnome">
        <label for="stdregiao">Região</label>
        <input type="number" name="stdregiao" id="stdregiao">
        
        <input type="submit" name="enviar" id="enviar" value="Enviar">
    </form>
    <button onclick="window.location.href = '/'">Voltar</button>
</body>
</html>