<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <button onclick="window.location.href = 'clientes'">Clientes</button>
    <button onclick="window.location.href = 'end_clientes'">End_Clientes</button>
    <button onclick="window.location.href = 'estoques'">Estoques</button>
    <button onclick="window.location.href = 'enderecos'">Enderecos</button>
    <button onclick="window.location.href = 'categorias'">Categorias</button>
    <button onclick="window.location.href = 'fornecedores'">Fornecedores</button>
    <button onclick="window.location.href = 'cidades'">Cidades</button>
    <button onclick="window.location.href = 'estados'">Estados</button>
    <button onclick="window.location.href = 'produtos'">Produtos</button>
    <button onclick="window.location.href = 'movimentacoes'">Movimentacoes</button>
    <button onclick="window.location.href = 'tipos_mov'">Tipos_Mov</button>
</body>
</html>