<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/tiposmov" method="post">
        <p>tipo de movimentação</p>

        <label for="tpmacao">Ação</label>
        <input type="text" name="tpmacao" id="tpmacao">
        <label for="tpmdescricao">Descrição</label>
        <input type="text" name="tpmdescricao" id="tpmdescricao">

        <input type="submit" name="enviar" id="enviar" value="Enviar">
    </form>
    <button onclick="window.location.href = '/'">Voltar</button>
</body>
</html>